## Data Analysis
pandas

## Data Manipulation
numpy
# scipy

## Machine Learning
scikit-learn

## Visualization/Plotting
matplotlib
seaborn
plotly

## GUI
streamlit

## For serializing and deserializing data
joblib